.primary {
    color: #8a2be2;
    text-transform: uppercase;
}

.secondary {
    color: #a52a2a;
}

.corners-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


div.category {
    font-size: x-large;
}

img.category {
    display: block;
    width: 120px;
    height: auto;
}

.stimulus-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 300px;
}

p.stimulus {
    font-size: x-large;
    min-height: 1.25em;
}

img.stimulus {
    display: block;
    height: 240px;
    width: auto;
}

.feedback {
    width: 5em;
    margin: 0 auto;
}

.feedback .form-control {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: x-large;
}

.hidden {
    display: none;
}


.key {
    font-family: monospace;
    text-transform: uppercase;
}

#progress-bar {
    width: 100%;
}

.instructions {
    text-align: center;
}

