.main {
  height: 50vh; /* fixed height */
}

.bottom {
  height: 25vh; /* fixed height */
}

.aim {
  font-family: Roboto, monospace;
  font-size: 100px;
}

.prime {
  font-size: xx-large;
}

.prime.positive {
  color: orange;
}

.prime.negative {
  color: blue;
}

.get-ready {
  background: white;
}
