.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.icon-char {
  font-family: Roboto, monospace;
  font-size: x-large;
  vertical-align: middle;
}

progress {
  width: 100%;
}

.feedback.icon-char {
  height: 32px;
  font-size: 32px;
  line-height: 100%;
  position: relative;
  left: -32px;   
}


.aim {
  font-family: Roboto, monospace;
  font-size: 100px;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.overlay[data-ot-ready] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;  
}