.get-ready {
  background: white;
}

progress {
  width: 100%;
}

.grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 4px 4px;
}

.cell {
  width: 64px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
  vertical-align: middle;
  text-align: center; 
}

.cell.valid {
  border: 1px solid back;
  background: rgb(128, 160, 128);
}

.cell.invalid {
  border: 1px solid back;
  background: rgb(128, 128, 128);
}