.flex-col {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column nowrap;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row nowrap;
}

.center {
  justify-content: center;
}

.instructions p {
  text-align: center;
}

.icon {
  display: inline-block;
  font-family: Roboto, monospace;
  font-size: 64px;
  vertical-align: middle;
}

progress {
  width: 100%;
}

.aim {
  font-family: Roboto, monospace;
  font-size: 100px;
}

.prime, .target {
  font-size: xxx-large;
}

.success {
  color: green;
}

.failure {
  color: red;
}

[ot-ready] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
}