.matrix4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 4px;
}

.cell {
  width: 64px;
  height: 64px;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
} 

.cell.correct {
  background-color: #080;
}

.cell.incorrect {
  background-color: #800;
}