.hidden {
    display: none !important;
}

.invisible {
    visibility: none;
}

.focus {
    font-size: xxx-large;
}

.main {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.touch-spot {
    position: absolute;
}

.touch-spot.left {
    height: 100%;
    width: 50%;
    left: 0;
}

.touch-spot.right {
    height: 100%;
    width: 50%;
    right: 0;
}

progress {
    width: 100%;
}

.stimulus {
    font-size: xxx-large;
}

.response {
    font-size: x-large;
    min-height: 2em;  /* prevent collapsing empty response/feedback */
}

.feedback {
    font-weight: bold;
}

.feedback-valid {
    color: #198754;
}

.feedback-invalid {
    color: #dc3545;
}

.response > .feedback {
    display: none;
}

.response.is-valid > .feedback-valid {
    display: initial;
}

.response.is-invalid > .feedback-invalid {
    display: initial;
}

.warning {
    color: #dc3545;
    min-height: 2em;  /* prevent collapsing empty feedback */
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
